<html>
    <H1>Error occured:</H1>
    <H3>{{error_text}}</H3>
    <hr/>
    <a href="/pet/create"><button type="button">Create a Pet</button></a>
    <a href="/kind/create"><button type="button">Create a Kind</button></a>
    <a href="/owner/create"><button type="button">Create an Owner</button></a>
    <a href="/pet/list"><button type="button">Show Pets</button></a>
    <a href="/kind/list"><button type="button">Show Kinds</button></a>
    <a href="/owner/list"><button type="button">Show Owners</button></a>
    <hr/>
</html>