<html>
    <head></head>
    <body>
       <h2>Updating: {{data['name']}}</h2>
        <form action="/kind/update/{{data['id']}}" method="post">
            <hr/>
            <p>Kind Name:<input name="name" value="{{data['name']}}"/></p>
            <p>Food:<input name="food" value="{{data['food']}}"/></p>
            <p>Sound:<input name="sound" value="{{data['sound']}}"/></p>
            <hr/>
            <hr/>
            <button type="submit">Update</button>
            <a href="/kind/list">Cancel</a>
            <hr/>
        </form>
    </body>
</html>