<html>
    <h1>Owner List:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for owner in owners %}
        <tr>
            {% for key in owner.keys() %}
            <td>{{ owner[key] }}</td>
            {% endfor %}
            <td><a href="/owner/delete/{{owner['id']}}">Delete</a></td>
            <td><a href="/owner/update/{{owner['id']}}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <a href="/pet/create"><button type="button">Create a Pet</button></a>
    <a href="/kind/create"><button type="button">Create a Kind</button></a>
    <a href="/owner/create"><button type="button">Create an Owner</button></a>
    <a href="/pet/list"><button type="button">Show Pets</button></a>
    <a href="/kind/list"><button type="button">Show Kinds</button></a>
    <a href="/owner/list"><button type="button">Show Owners</button></a>
</html>